/**
  * Home
  */
@keyframes fade-in {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
}

@keyframes fade-out {
    100% {
      opacity: 0;
    }
}