@media screen  and (min-width: 1024px)  {
    .operations,
    .restaurants-container,
    .footer-container {
        margin: 0 auto;
        max-width: 1280px;
    }

    .operations-steps {
        display: flex;
        gap: 30px;
    }

    .operations-step,
    .subcard {
        flex: 1;
        width: 30%;
    }

    .card {
        width: 48%;
    }
}